:root {

}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    color: white;
    background-color: black;
    font-family: 'Inter', sans-serif;
}

main {
    /* border-top: solid 1px rgb(0, 200, 255); */
    padding: 25px;
}

.top-border {
  height: 4px;
  background: linear-gradient(
    90deg,
    rgb(20, 92, 193),
    rgb(0, 200, 255),
    rgb(145, 68, 208),
    rgb(20, 92, 193)
  );
  background-size: 200%;
  animation: changeBorderColor 10s linear infinite;
}

#hub {
    background: linear-gradient(90deg,rgb(20, 92, 193), rgb(67, 114, 168), rgb(145, 68, 208), rgb(20, 92, 193));
    color: transparent;
    background-clip: text;
    background-size: 300%;
    animation: changeBorderColor 10s linear infinite;
}

#background {
    background: linear-gradient(0deg,rgb(20, 92, 193), rgb(67, 114, 168), rgb(47, 44, 44));
    background-repeat: no-repeat;
    min-height: 100vh;
    animation: FadeInRight 5s ease forwards;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.selected {
    border: 2px solid rgb(0, 200, 255);
    box-shadow: 0px 4px 12px rgb(0, 200, 255);
}

#media-list,
#ongoing-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 215px);
    gap: 40px;
    padding: 20px;
    justify-content: center;
    background-color: rgb(255, 253, 253);
    border-radius: 10px;
    color: black;
}

img {
    height: 300px;
    width: 215px;
    border: solid black;
    border-radius: 8px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search-form{
    display: flex;
    gap: 15px;
    align-items: center;
}

header {
    padding: 25px 50px 25px 50px;
}

.sticky {
    position: sticky;
    z-index: 1000;
    top: 0;
    background-color: rgb(47, 44, 44);
}

#radio-options {
    display: flex;
    gap: 15px;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#top-section {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.form-field input {
    padding: 10px;
    border: 1px solid whitesmoke;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

#sort-media {
    padding: 15px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid blue;
    font-weight: bolder;
}

#top-media,
h2 {
    font-size: 2.5rem
}

.anime-card {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    border-radius: 8px;
    text-align: center;
    transition: 0.3s ease;
}

.anime-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 4px 12px ;
}

#nav-links {
    display: flex;
    gap: 20px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(4px);
}

.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  position: relative;
  width: 1000px;
  height: 800px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 24px;
}

.hidden {
    display: none !important;
}

#get-random {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

#random-media {
    max-width: 215px;
}

#rand-btn {
    border-radius: 8px;
    padding: 10px 15px;
    min-width: 150px;
    font-weight: bolder;
    transition: 0.2s ease;
}

#rand-btn:hover:enabled{
    color: white;
    background-color: black;
    border-color: whitesmoke;
    transform: translateY(-2px);
    box-shadow: 0px 4px 12px black;
}

.no-click {
    pointer-events: none;
}

.anime-card h3 {
    padding: 10px;
}

.no-scroll {
  overflow: hidden;
}

#home-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#bottom-section {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
  
#scroll-top-btn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 10px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  color: white;
  background-color: rgb(127, 127, 216);
  top: auto;
}

.favorite-btn {
  cursor: pointer;
  font-size: 1.4rem;
  transition: 0.2s;
}

.favorite-btn.fa-solid {
  color: red;
}

.favorite-btn.fa-solid:hover {
  animation: favorited 1s ease infinite;
}

.favorite-btn:hover {
  animation: favoriteHover 1s ease infinite;
}

@keyframes FadeInRight{
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
    }
}

@keyframes favorited{
    50% { 
        transform: scale(1.2);
    }
}

@keyframes favoriteHover {
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    75% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(-5deg);
    }
}

@keyframes changeBorderColor {
  from {
    background-position: 300%;
  }
  to {
    background-position: 0%;
  }
}